html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.intro-img {
    width: 250px;
}

.url-img {
    width: 50%;
}

.modal-footer {
    justify-content: space-between !important;
}

.spacer {
    flex: 1;
}

.user_logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sub-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(/img/header.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    min-height: 150px;
    align-items: center;
    
}   

.card a{
    text-decoration: none;
    color: inherit;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
}

.calendar-item {
    text-align: center;
    width: 14.286%;
    height: 30px;
    transition: 0.3s;

}

.day-header {
    font-weight: bold;
    text-align: center;
}

.item-free{
    color: greenyellow;
    cursor: pointer;

}.item-free:hover{
    color: white;
    cursor: pointer;
    background-color: lightgreen;
}
.item-past{
    cursor: default;
    color: gray;
}
.item-reserved{
    cursor: pointer;
    color: hotpink;

}.item-reserved:hover{
    cursor: pointer;
    color: white;
    background-color: hotpink;


}
select {
    border: none; /* Убираем границу */
    outline: none; /* Убираем outline при фокусе */
    background-color: transparent; /* Делаем фон прозрачным */
    padding: 10px; /* Добавляем отступы */
    font-size: 16px; /* Устанавливаем размер шрифта */
    border-radius: 4px; /* Закругляем углы (по желанию) */
    appearance: none; /* Убираем стандартный стиль браузера */
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    -moz-appearance: none; /* Убираем стандартный стиль для Firefox */
}   